<p> The list of groups in the drop-down marked &quot;Select a group&quot; is a list of groups managed by <%=t('sufia.institution_name') %>'s Division of Information Technology. You may select a specific group and assign an access level for a file within <%=t('sufia.product_name') %> - similar to adding user access levels.</p>
