<h1>GW ScholarSpace Deposit Agreement</h1>

<p>
To properly administer the GW ScholarSpace repository and preserve its contents for future use, the George Washington University (“GW”) requires certain permissions from you as the author(s) or copyright owner or licensee. By entering into this GW ScholarSpace Deposit Agreement (“Agreement”) and granting the limited license contained herein, you retain the copyright to the work(s) you choose to deposit in the GW ScholarSpace repository (collectively, your “Work”). You also retain the right to submit your Work to publishers or other repositories. Except as expressly stated herein, you retain all other rights and ownership to your Work.  
</p>

<p>
When you submit your Work to the GW ScholarSpace repository, you will have the option of selecting its degree of visibility, which will control who can access your Work. By selecting one of the visibility options listed below, you grant GW the license contained therein:
</p>



<h3>Visibility Level: <span class=”label label-success”>OPEN ACCESS</span></h3>
<p>
By choosing the Open Access option, you are allowing anyone in the world to view and access your Work. You may choose to apply one of several Creative Commons licenses to your Work, which are explained on the submission form and in the FAQ. These licenses allow you to set your own terms of use for anyone accessing and using your Work. 
</p>

<p>
By choosing the Open License option and designating a Creative Commons license, you grant GW a license and right to use and distribute your Work under the terms of the Creative Commons license that you designate and to allow users of the GW ScholarSpace website to do the same in accordance with that license. 
</p>

<p>
In the alternative, if you do not designate a Creative Commons license but choose the Open Access option, you grant GW a non-exclusive, worldwide license and right to publicly display, provide access to, and distribute your Work (including the metadata and abstract) for non-commercial research, educational, or related academic purposes only. You also authorize GW to allow users of GW ScholarSpace to use, access, and distribute your Work (including the metadata and abstract) for non-commercial research, educational, or related academic purposes only. 
</p>


<h3>Visibility Level: <span class=”label label-info”>THE GEORGE WASHINGTON UNIVERSITY</span></h3>
<p>
If you select a visibility level of <%=t('sufia.institution_name') %>, you are allowing only users of the GW network to view and access your Work. Your Work will not be accessible to colleagues or students at other universities or to members of the public. If you want your Work to be accessible to the broader scholarly community, you should consider selecting the Open Access option instead. If designated by you in writing to GW, you may also further limit access to only specific individuals or groups of individuals at GW.
</p>

<p>
By choosing <%=t('sufia.institution_name') %> option, you grant GW a non-exclusive, worldwide license and right to publicly display, provide access to, and distribute your Work (including the metadata and abstract) to students, faculty, staff, other authorized users of the GW network, and walk-in users of the George Washington University libraries for non-commercial research, educational, or related academic purposes only. If you have limited access to specific individuals or groups of individuals, GW will provide access to your Work only to those users. You also authorize GW to allow the George Washington University community members identified herein to use, access, and distribute your Work (including the metadata and abstract) for personal non-commercial research, educational, or related academic purposes only.
</p>


<h3>Visibility Level: <span class=”label label-important”>PRIVATE ACCESS</span></h3>
<p>
If you select the Private Access option, your Work will not be viewable or accessible to anyone other than yourself.  By choosing the Private Access option, you grant GW a non-exclusive license and right to maintain your Work in the GW ScholarSpace repository and to provide access to and distribute your Work only to you.  If you want your work to be accessible to the broader scholarly community, you should consider selecting another access option.
</p>

<h3>The following terms apply to ALL submissions:</h3>

<p>
General License Terms.  By entering into this Agreement, you grant GW a non-exclusive, worldwide license and right to maintain your Work in the GW ScholarSpace repository and to provide access to and distribute your Work in accordance with this Agreement and the visibility level you designate above. You agree that GW may translate or reformat your Work to any medium or format for the purpose of exercising its rights hereunder and may keep more than one copy for the purposes of security, back up, and long-term preservation of the scholarly record. GW will clearly identify your name(s) as the author(s) or owner(s) of your Work and not make any alteration, other than as allowed by this Agreement, to your Work.
</p>

<p>
Termination.  GW reserves the right to remove your Work from the GW ScholarSpace repository for the following reasons: (i) you commit a material breach of this Agreement that is not cured within ten days following written notice from GW; (ii) your Work infringes the copyright or other rights of a third party or is otherwise contains any unlawful material, in the reasonable determination of GW; or (iii) as necessary to administer the GW ScholarSpace repository.  In the event GW receives a complaint that your Work infringes the rights of a third party, GW will promptly notify you of the complaint and give you a reasonable opportunity to response.  GW reserves the right to modify or cease offering and supporting the GW ScholarSpace repository in its discretion.  GW will provide you with prompt written notice in such an event.
</p>

<p>
Representations and Warranties.  You agree that GW bears no responsibility for the contents of your Work. You represent and warrant that the Work is your original work, and/or that you have the right to grant the rights contained in this Agreement. You also represent that your Work does not, to the best of your knowledge, infringe upon anyone's copyright or any other proprietary rights. You also represent and warrant that your Work contains no libelous or other unlawful matter and makes no improper invasion of the privacy of any other person. If your Work contains material for which you do not hold copyright and that exceeds fair use, you represent and warrant that you have obtained the unrestricted permission of the copyright owner to grant GW the rights granted in this Agreement, and that such third-party owned material is clearly identified and acknowledged within the text or content of your Work. 
</p> 
 
<p> 
Sponsored Research.  If your Work is based upon work that has been sponsored or supported by an agency or organization other than GW such as, but not limited to, the National Institutes of Health, the National Science Foundation, or a private funder, you represent and warrant that you have fulfilled any right of review, confidentiality, or other obligations required by any agreement with that sponsoring agency or organization.
</p>

<p>
Indemnification.  You agree to indemnify and hold harmless GW against any claims, demands, costs, or liabilities (including attorney’s fees) arising from any breach of this Agreement or these representations and warranties by you, provided such do not result from the GW's or its employees' negligence, intentional misconduct, breach of this Agreement, or failure to comply with any applicable laws.
</p>

<p>
Miscellaneous.  This Agreement shall be governed by and enforced in accordance with the laws of the District of Columbia.  The provisions of this Agreement are severable so that if any provision of this Agreement is held to be invalid or unenforceable to any extent, this Agreement shall continue in full force and effect and such provision shall be amended to least extent necessary to conform to applicable laws and accomplish the parties' intentions. No waiver of any provision of this Agreement will be effective unless it is in writing and signed by both parties, and no such waiver will result in the waiver of any other provision of this Agreement.
</p>

<p>
This Agreement constitutes the entire agreement between the parties and supersedes any prior oral or written agreements or communications between GW and you regarding its subject matter. This Agreement may be amended or modified only by a mutual written agreement executed by GW and you.
</p>
